
<div id="validation">
    <label for="name">Name</label>
    <input type="text" id="name" required />
    <button id="submitName">x</button>
</div>
<div id="chat">
    <div id="messages"></div>
    {{#if isUser}}
    <div>
        <input type="text" placeholder="Nuevo mensaje" id="newMessage" />
        <button id="submitMessage">Enviar</button>
    </div>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>