<div class="container-dark flex-c-c-c">
    <div class="bg-light flex-c-c-c fail">
        <h2>Error in log in, <a href="/login">go back</a></h2>
    </div>
</div>

<link rel="stylesheet" href="/styles/fail.css">