<div class="flex-c-s-c container-dark">
  <div class="flex-r-sb-c">
    <button id="logout" class="btn-contained-light" type="button"> Logout</button>
    <button id="seeCart" class="btn-contained-light" type="button">See cart</button>
  </div>
  <div class="flex-c-sb-c bg-light card">
    <h3 class="text">Welcome!</h3>
    <p class="text">{{user.first_name}} {{user.last_name}}</p>
    <div class="flex-c-c-c">
      <p class="text">Email/Username:</p>
      <p class="text">{{user.email}}</p>
    </div>
    <div class="flex-c-c-c">
      <p class="text">Age: </p>
      <p class="text">{{user.age}}</p>
    </div>

  </div>


  <button type="button" class="btn-contained-light"><a href="/products">See products</a></button>

</div>

<link rel="stylesheet" href="/styles/home.css">
<script src="/js/home.js"></script>