<div>
  <div>
    <h3>Welcome!</h3>
    <button id="logout" type="button"> Logout</button>
    <button id="seeCart" type="button">See cart</button>
  </div>
  <p>First Name: {{user.first_name}}</p>
  <p>Last Name: {{user.last_name}}</p>
  <p>Email/Username: {{user.email}}</p>
  <p>Age: {{user.age}}</p>
</div>

<button type="button"><a href="/products">See products</a></button>


<script src="/js/home.js"></script>