

<div class="flex-c-c-c container-dark">
    <div id="form" class="flex-c-sb-c bg-light">
        <h2>Log in</h2>
        <form action="/api/session/login" method="post" class="flex-c-sb-c">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required>
            <label for="password">Password</label>
            <input id="password"  type="password" name="password" required>
            <a id="restoreBtn">Restore password</a>
            <button type="submit" class="btn-contained-dark">Log in</button>

        </form>

        <div id="down" class="flex-c-sb-c">
            <p class="text" >Log in with:</p><button class="btn-lined-dark"><a href="/api/session/github">GitHub</a></button>
            <p class="text">You do not have an account?</p>
            <button type="button" class="btn-contained-dark"><a href="/register">Sign Up </a></button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/styles/login.css">
<script src="/js/login.js"></script>