<form action="/api/session/login" method="post">
    <input id="email" placeholder="Email" type="email" name="email">
    <input id="password" placeholder="Password" type="password" name="password">
    <button id="restoreBtn" type="button">Restore password</button>
    <button type="submit">Login</button>
</form>

<div>
    <a href="/api/session/github"><button>Log in with GitHub</button></a>
    <p>You do not have an account?</p>
    <a href="/register"><button type="button"> Sign Up </button></a>
</div>

<script src="/js/login.js"></script>
