<div id="register-content" class="container-dark flex-c-c-c">
    <div id="form" class="flex-c-sb-c bg-light">
        <h2>Sign up</h2>
        <form action="/api/session/register" method="post" class="flex-c-sb-c">
            <label for="first_name">First Name</label>
            <input id="firstName" type="text" name="first_name" required>
            <label for="last_name">Last Name</label>
            <input id="lastName" type="text" name="last_name" required>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required>
            <label for="age">Age</label>
            <input id="age" type="number" name="age" required>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required>
            <button type="submit" class="btn-contained-dark">Register</button>
        </form>

        <div id="down" class="flex-c-sb-c">
            <p class="text">Do you already have an account?</p>
            <button type="button" class="btn-contained-dark"> <a href="/login">Sign In</a> </button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/styles/register.css">
<script src="/js/register.js"></script>