<form id="restoreForm" action="/api/session/restorePassword" method="post"> //cambiar logica para que verifique primero la peticion
    <h3>{{email}}</h3>
    <input id="passwordInput" type="password" placeholder="New password" name="password" required></input> <button id="passwordBtn" type="button">Show</button>
    <input id="confirmPassword" type="password" placeholder="Confirm password" required></input>
    <button type="submit">Send</button>
</form>

<script src="js/restorePassword.js"></script>