<div class="container-dark flex-c-c-c">
    <form id="form" class="flex-c-sb-c bg-light">
        <h3 id="token">{{token}}</h3>
        <label for="new-password">New password</label>
        <div id="password-div" class="flex-r-sb-c">
            <input id="passwordInput" name="password" type="password" required></input>
            <button id="passwordBtn" class="btn-lined-dark" type="button">Show</button>
        </div>
        <label for="confirm-password">Confirm password</label>
        <input id="confirmPassword" name="confirm-password" type="password" required></input>
        <button type="submit" class="btn-contained-dark">Send</button>
    </form>
</div>

<link rel="stylesheet" href="/styles/restorePassword.css">
<script src="/js/restorePassword.js"></script>