<form id="restoreForm">
    <h3 id="token">{{token}}</h3>
    <input id="passwordInput" type="password" placeholder="New password" required></input> <button id="passwordBtn" type="button">Show</button>
    <input id="confirmPassword" type="password" placeholder="Confirm password" required></input>
    <button type="submit">Send</button>
</form>

<script src="/js/restorePassword.js"></script>