label {
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
}
label,
input {
  width: 240px;
}
form{
    border-bottom: 1px solid rgb(65, 100, 115);
    padding-bottom: 0.5rem;
}
a{
    text-decoration: none;
}
#login-background{
  width: 100vw;
  height: 100vh;
}
#down{
    padding-top: 0.5rem;
}
#form {
  padding: 1.5rem 3rem;
  border-radius: 4px;
  box-shadow: 0 0 20px black;
}
#restoreBtn:hover {
  text-decoration: underline;
  text-decoration-color: rgb(65, 100, 115);
}
#restoreBtn {
  margin-bottom: 0.5rem;
}

